@charset "utf-8";
/* CSS Document */

body{background:#FFF5EE;
font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif'
}
.h1{background: darkred;
	
	color: antiquewhite;
	padding-top:30px;
	min-height: 70px;

	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.add{background: darkred;
color: antiquewhite;
}
#kkk{
	
	background-color: #fff5ee;
	border: none;
}