
	
@charset "utf-8";
/* CSS Document */
body{background-color:#FFF5EE;
font-family:"Comic Sans MS", cursive;
}
.logo{border-radius:100%;
text-align:center;
margin-left:40%;
margin-top:10%;
}

ol{
list-style:none;
letter-spacing:2px;
text-transform: uppercase;
	
display: inline-block;}
li{
display:inline-block;
	
text-align: right;}
li a:hover{color: darkgray;}
.nav-pic{width:400px;
height:450px;
}

nav{
	
	font: bold;
	
	height: 80px;
	width: 100%;
	
	
	position:absolute;
	width: 100%;
	
	padding-top: 10px;
}

